<div class="container">
  <div class="solid-white" [ngStyle]="{'opacity' : validated ? '1' : '0'} "></div>
  <div class="background-still" >
    <img *ngIf="Still_Photo_ID === 1" src="../assets/SUM%20STILLS/Still_1.jpeg" alt="" class="background-image-wrapper" [@fade]="'in'" >
    <img *ngIf="Still_Photo_ID === 2" src="../assets/SUM%20STILLS/Still_2.jpeg" alt="" class="background-image-wrapper" [@fade]="'in'">
    <img *ngIf="Still_Photo_ID === 3" src="../assets/SUM%20STILLS/Still_3.jpeg" alt="" class="background-image-wrapper" [@fade]="'in'">
    <img *ngIf="Still_Photo_ID === 4" src="../assets/SUM%20STILLS/Still_4.jpeg" alt="" class="background-image-wrapper" [@fade]="'in'">
    <img *ngIf="Still_Photo_ID === 5" src="../assets/SUM%20STILLS/Still_5.jpeg" alt="" class="background-image-wrapper" [@fade]="'in'">
    <img *ngIf="Still_Photo_ID === 6" src="../assets/SUM%20STILLS/Still_6.jpeg" alt="" class="background-image-wrapper" [@fade]="'in'">
    <img *ngIf="Still_Photo_ID === 7" src="../assets/SUM%20STILLS/Still_7.jpeg" alt="" class="background-image-wrapper" [@fade]="'in'">
  </div>
  <div class="Title-Card-Parent" *ngIf="!validated" [@CardSlideOut]>
    <mat-card class="Title-Card">
      <div class="Title-Wrapper row">
        <h1 class="Title">SUM</h1>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="Password-Wrapper">
            <mat-form-field class="Password-Field">
              <mat-label>Password</mat-label>
              <input matInput placeholder="" value="" type="password"  formControlName="password">
              <div *ngIf="validated && f.password.errors">
                <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                <mat-error *ngIf="f.password.errors.mustMatch">You done did it wrong.</mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="Enter-Key" (click)="onSubmit()">
            <img class="Arrow-Icon" src="../assets/SVG/next.svg">
          </div>
        </div>
      </form>
    </mat-card>
  </div>

  <mat-card class="Video-Container" *ngIf="validated" [@Videoslide]="'in'">
    <video class="Current-Video" src="https://source-media-sum.s3-us-west-1.amazonaws.com/renders/Render_46d02b18-72f1-11ea-b022-022575d6b402.mp4" controls ></video>
  </mat-card>

  <mat-card class="Side-Panel" *ngIf="validated" [@Videoslide]="'in'">
    <div class="Current-Details">
      <div class="Current-Details-Title-Row">
        <h2 class="Current-Details-Title">Current Render Stats</h2>
      </div>
      <div class="Current-Details-Info-Row">
        <div class="Current-Details-Info-Col Col-1">
          <div class="Sentiment-Title">
            Sentiment
          </div>
          <img src="../assets/SVG/face1.svg" alt="" class="Sentiment-Icon">
        </div>
        <div class="Current-Details-Info-Col Col-2">
          <div class="Sentiment-Title">
            Chronology
          </div>
          <img src="../assets/SVG/face1.svg" alt="" class="Sentiment-Icon">
        </div>
        <div class="Current-Details-Info-Col Col-3">
          <div class="Sentiment-Title">
            Iteration
          </div>
          <img src="../assets/SVG/face1.svg" alt="" class="Sentiment-Icon">
        </div>
      </div>
    </div>
    <div class="row Next-Videos">

    </div>
  </mat-card>
</div>
