.container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 2;
}

.solid-white  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  transition: 2s;
  z-index: 3;

}

.background-still {
  position: absolute;
  left:0;
  top: 0;
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: .3s ;
  z-index: 1;
  background-image: url('../assets/SUM STILLS/BG_1.jpg');
  background-size: cover;
}



.Title-Card-Parent  {
  position: absolute;
  overflow: hidden;
  height: 500px;
  width: 500px;
  top: calc(50% - 250px);
  left: calc(50% - 250px);

}
  .Title-Card {
    position: absolute;
    height: 468px;
    width: 468px;
    background-color: rgba(255, 255, 255, .0);

  }
    .Spinner  {
      position: absolute;
      width: 100px;
      height: 100px;
      top: calc(65% - 50px);
      left: calc(50% - 50px);
    }
    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle, .mat-input-element, .input-element  {
      stroke: #fafafa;
    }
    .Title-Wrapper  {
      position: absolute;
      width: 468px;
      height: 117px;
      top: 0;
      z-index: 3;
      text-align: center;
      margin: 0;
    }
      .Title{
        height: 117px;
        padding-top: 117px;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 90px;
        opacity: .8;
        color: white;
        font-weight: 100;

      }
    .Password-Wrapper {
      position: absolute;
      width: 468px;
      height: 234px;
      bottom: 0;
      z-index: 3;
      text-align: center;
    }
  .Enter-Key  {
    position: absolute;
    height: 36px;
    width: 36px;
    bottom: 80px;
    left: calc(50% - 18px);
    background-color: white;
    border-radius: 24px;
    z-index: 3;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: top;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
    opacity: .85;

  }
  .Enter-Key:hover  {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);

    transform: scale(1.1);
  }
  .Enter-Key:active  {
     -webkit-transform: scale3d(1.0, 1.0, 1.0);
     transform: scale(1.0);
  }

    .Arrow-Icon {
      margin: 12px;
    }



.Video-Container  {
  position: absolute;
  height: 600px;
  width: 1000px;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
  overflow: hidden;
  background-color: #000000;
  opacity: .8;
  backdrop-filter: blur(8px);
  transform: translateX(-300%);
  transition: transform 0.5s cubic-bezier(0.3, 0.2, 0.1, 1.2);
  pqdding: 0;
  z-index: 3;
}
  .Current-Video  {
    position: absolute;
    min-width: 100%;
    height: 100%;
    outline: none;
    top: 0;
    left: 0;
    z-index: 3;

  }
  .video-source {
    position: absolute;
    min-width: 100%;
    height: 100%;
    outline: none;
    top: 0;
    left: -500px;
  }
.Side-Panel {
  position: absolute;
  height: calc(90vh - 36px);
  top: 5vh;
  left: -420px;
  width: 400px;
  background-color: #E3E4DB;
  overflow-x: visible;
  border-radius: 1px;
  backdrop-filter: blur(8px);
  transition: transform 0.3s cubic-bezier(0.3, 0.2, 0.1, 1.2);
  z-index: 3;

}
  .Pull-Out-Button  {
    position: absolute;
    right: -12px;
    top: calc(50% - 24px);
    width: 24px;
    height: 48px;
    background-color: #FFFFFA;
    border-radius: 1px;
    z-index: 4;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    -webkit-transform: scale3d(1.0, 1.0, 1.0);
  }

    .Pull-Out-Button-Arrow  {
      width: 12px;
      height: 12px;
      padding: 18px 6px 18px 6px;
    }

          .Sentiment-Title  {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            color: white;
            font-weight: 100;
            letter-spacing: 2px;
            margin-bottom: 12px;
            text-align: center;
          }

        .Col-2  {
          left: 33.3%;
        }
        .Col-3  {
          left: 66.3%;
        }



  .Next-Videos  {
    position: absolute;
    width: calc( 100% - 32px);
    top: 16px;
    height: calc(100% - 48px );
    background-color: rgba(205, 205, 205, .5);
    border-radius: 1px;
    overflow-y: scroll;
  }
    .next-videos-tile {
      background: #e7e4e7;
      margin: 6px;
      height: 24px;
      transition: 0.6s cubic-bezier(0.3, 0.2, 0.1, 1.2);
      border-radius: 1px;
    }
    .next-videos-tile:hover {
      background: #bababa;
      margin: 6px;
      transition:  0.6s cubic-bezier(0.3, 0.2, 0.1, 1.2);

    }
    .next-videos-tile:active {
       background: #dbd8de;
       margin: 6px;
       height: 24px;
           transition: 0.6s cubic-bezier(0.3, 0.2, 0.1, 1.2);
     }

      .Sentiment-Icon {
        position: absolute;
        top: 12px;
        height: 24px;
        width: 24px;
        left: 184px;
      }
      .Chronology-Icon {
        position: absolute;
        top: 12px;
        left: 232px;
        height: 24px;
        width: 24px;
        margin: 0 12px 0 12px;
      }
      .Iteration  {
        position: absolute;
        right: 0px;
        top: 16px;
        height: 20px;
        width: 65px;
        font-size: 20px;
        color: #414141;
        font-family: 'Helvetica', sans-serif;

      }
      .Date {
        position: absolute;
        font-family: 'Helvetica Neue', sans-serif;
        left: 18px;
        top: 8px;
        width: 35%;
        height: 36px;
        line-height: 14px;
        font-size: 10px;
        font-weight: 100;
        color: #414141;
      }
    .buffer-size  {
      font-size: 12px;
      color: #454545;
      font-weight: 200;
      position: absolute;
      width: 200px;
      text-align: center;
      height: 14px;
      bottom: 12px;
      left: calc(50% - 112px);
    }

    .Panel-Title  {
      font-size: 24px;
      color: #707070;
      font-weight: 100;
      font-family: 'Helvetica Neue', sans-serif;
      position: absolute;
      width: 100%;
      text-align: center;
      height: 36px;
      top: 14px;
      left: 0;
    }
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 3px     rgba(0,0,0,0.3);
}
